
        <div class="card shadow mb-4">
          <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Notifications</h6>
          </div>
          <div class="card-body">
              <h3>Total subs gained : {{users|length}}</h3>
              <div class="ad mx-auto my-3">
              <script data-cfasync='false' type='text/javascript' src='//p436474.clksite.com/adServe/banners?tid=436474_859265_1'></script>
              </div>
              <ul class="list-style-none ps-0">
                {% for user in users %}
                <li class="d-flex no-block card-body border-bottom"> <i class="fas fa-check-circle w-30px m-t-5"></i>
                    <div> <a class="m-b-0 font-medium p-0" >New Subscriber</a> <span class="text-muted">{{user.username}}</span> </div>
                </li>

                {% endfor %}


                
              </ul>
          </div>


<style>
  ul.list-style-none li {
     list-style: none
  }

 ul.list-style-none li a {
     
     padding: 8px 0px;
     display: block;
     text-decoration: none
 }

 .m-t-5 {
     margin-top: 5px
 }

 .w-30px {
     width: 30px
 }
</style>

