

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Task</h6>
    </div>
    <div class="card-body">
    {% if video %}
            <div class="videowrapper mb-4 mx-auto">
                  <iframe src="{{ video.embed_script }}" frameborder="0" allowfullscreen></iframe>
            </div>
        
        <div class="text-center">
    </div>
        <h6>view full video and subscribe</h6>
        <h6>If video does not show up follow the <a href="{{video.url}}" target="_blank" id="video-link">link</a> </h6>


            <button type="button" class="btn btn-primary btn-sm mt-3" id="submit-popover" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Please do it as follows" delay="500">Done</button>
    {% else %}
        <h3>No video yet Please try Later</h3>
        <p>Why this happens:</p>
        <p>This happens as the site is new, enough user's haven't registered yet. So Please help us to gain more users and make you subs count bigger. We still developing the affiliate system. Hope you will understand the situation</p>
    {% endif %}                
    </div>


</div>
<style>
.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media screen and (min-width:768px){
    .videowrapper{
        width:360px;
        padding-bottom:202px;
    }
}
</style>


<script>
var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
  return new bootstrap.Popover(popoverTriggerEl)
})

$(document).ready(function(){
            var timeLeft = 1000*60*2;
            var submitTimer = setTimeout(function(){
                $("#submit-popover").popover('dispose');
                $("#submit-popover").click(function(){
                    $("#content").load("{% url 'community:handle-video-ajax' %}");
                });
            }, timeLeft);

  

        });
        $(document).ready( function () {
           
           $("#submit-popover").on('shown.bs.popover', function(){

                setTimeout(function(){
                    $('#submit-popover').popover('hide')
                }, 5000)
           })
        });
               





        // $('[data-toggle="popover"][data-timeout]').on('shown.bs.popover', function() {
        //         this_popover = $(this);
        //         setTimeout(function () {
        //         this_popover.popover('hide');
        //     }, $(this).data("timeout"));
        // });

        // $('[data-toggle="popover"]').click(function () {

        // setTimeout(function () {
        //     $('.popover').fadeOut('slow');
        // }, 5000);

    




</script>
