
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Task</h6>
    </div>
    <div class="card-body">
    {% if video %}
            <div class="videowrapper mb-4 mx-auto">
                  <iframe src="{{ video.embed_script }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        
        <div class="text-center">
    </div>
    
        <h6>View the video and subscribe.</h6>
        <h6>Please watch the video for 2-3 minutes and subscribe otherwise next button won't work</h6>
        <h6>If video does not show up follow the <a href="{{video.url}}" target="_blank" id="video-link">link</a> </h6>
        <h6>Press the next button after completing the task</h6>




<div class="d-flex justify-content-between mx-auto my-3 mt-5 action-buttons">
<button type="button" class="btn btn-primary" id="modal-button" data-bs-toggle="modal" data-bs-target="#exampleModal">Next</button>
<button class="btn btn-outline-primary" id="affiliate-btn" onclick="copyFunction">Get My affiliate link</button>
</div>

<small class="mt-4">*Be a subzcommuity affiliate and get free 2 subscribes for every sucessful signup</small>

<!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Oops!!!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

              </div>
              <div class="modal-body">
                <p>Please watch the video at least 2 minutes and subscribe the user. Then you can take the next video.</p>
                <p>If the video time is less than 2 minutes watch again.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
               
              </div>
            </div>
          </div>
        </div>

    {% else %}
        <h3>No video yet Please try Later</h3>
        <p>Why this happens:</p>
        <p>This happens as the site is new, enough user's haven't registered yet. So Please help us to gain more users and make you subs count bigger. We still developing the affiliate system. Hope you will understand the situation</p>
    {% endif %}                
    </div>

</div>
<style>
.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.action-buttons{
    width:75%;
}
@media screen and (min-width:768px){
    .videowrapper{
        width:360px;
        padding-bottom:202px;
    }
}

@media screen and (max-width:768px){
    .action-buttons{
        width:100%;
    }
}
</style>





<script>

function copyFunction() {
              /* Get the text field */
              var copyText = "https://subzcommunity.herokuapp.com/affiliate?user_id={{request.user.id}}"

             

               /* Copy the text inside the text field */
              navigator.clipboard.writeText(copyText);

            }
$("#affiliate-btn").on('click', copyFunction)



$(document).ready(function(){

           
            var timeLeft = 1000*2*60;
            var submitTimer = setTimeout(function(){
                var modalBtn = document.getElementById('modal-button');
                modalBtn.removeAttribute("data-bs-toggle");
                modalBtn.removeAttribute("data-bs-target");
                $("#modal-button").on('click', function(e){
                    
                    $("#content").load("{% url 'community:handle-video-ajax' %}");

                });
            }, timeLeft);

  

        });





    




</script>
