{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 mx-auto">
			<div class="card shadow mt-4">

    		<div class="card-body">
    			<h3 class="text-center">Privacy Policy</h3>
    			<p class="lead">We are just a bunch of college students with who always love to create new things.</p>
    			<p>The goal of making this site is to create a reliable free place where content creators can gather more subscribes to their channel and increase there income </p>
    			<p>We know ther are lot of places which you can gain subscribes like facebook groups but you can't always keep trust on that places</p>
    			<p>But in SubzCommunity you don't need to be afraid of any.The only thing you need is to view other peoples' vidoes and subscribe to them and we will make sure that you also gain more subscribe</p>
    		</div>

		</div>
	</div>
</div>



{% endblock %}